body {
    /* background: #E6EEE4; */
    background: #EEECE6;
    /* margin: 200px 0; */
}

#ingredients-main-container {
    width: 1400px;
    position: relative;
}

.ingredients-auto {
    margin-right: auto;
    margin-left: auto;
}

.ingredients-container {
    width: 100%;
}

#ingredients-img {
    height: auto;
    max-width: 100%;
    transform: scale(.85);
}

.select {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #506444;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
}

.select:hover {
    cursor: pointer;
    font-size: 18.5px;
    background: #9FC5AA;
}

.ingredients-modal {
    z-index: 2;
    background: #506444;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 20px;
    width: 250px;
    position: absolute;
    opacity: 0;
    transition: .7s;
}

.ingredients-heading {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-family: poppins, sans-serif;
}

.ingredients-body {
    text-align: left;
    font-family: poppins, sans-serif;
    margin-bottom: 0;
}

#earth {
    top: 22%;
    left: 15%;
}

#earth-modal {
    top: 26%;
    left: 6%;
}

#cucumber {
    top: 16%;
    left: 46%;
}

#cucumber-modal {
    top: 20%;
    left: 37%;
}

#soybean {
    top: 16%;
    left: 84%;
}

#soybean-modal {
    top: 20%;
    left: 75%;
}

#coconut {
    top: 45%;
    left: 12%;
}

#coconut-modal {
    top: 49%;
    left: 3%;
}

#lavender {
    top: 39%;
    left: 37%;
}

#lavender-modal {
    top: 22.3%;
    left: 28%;
}

#beet {
    top: 34%;
    left: 56.5%;
}

#beet-modal {
    top: 38%;
    left: 47.5%;
}

#cedarwood {
    top: 45%;
    left: 78%;
}

#cedarwood-modal {
    top: 28.3%;
    left: 69%;
}

#peppermint {
    top: 69%;
    left: 20%;
}

#peppermint-modal {
    top: 73%;
    left: 11%;
}

#water {
    top: 64%;
    left: 37%;
}

#water-modal {
    top: 47.5%;
    left: 28%;
}

#lemon {
    top: 57%;
    left: 59%;
}

#lemon-modal {
    top: 61%;
    left: 50%;
}

#lemongrass {
    top: 80%;
    left: 77%;
}

#lemongrass-modal {
    top: 65.3%;
    left: 68%;
}